{% extends 'base.html' %}


{% block content %}
    <div class="container page-item">
        <div class="tab-content">
            <table>
                <thead>
                <h2>
                    Create a new Article
                </h2>
                </thead>
            </table>
        </div>
    <div>
        <form method="post" class="form-control-lg font-weight-bold table-bordered" action="{% url 'articles:create' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <p class="text-capitalize">
            {% for foo in form %}
                {{ foo.label_tag }}
                {{ foo }}
                    <br>
            {% endfor %}
            </p>

            <input type="submit" name="new_article" value="Create">
        </form>
    </div>
    </div>
{% endblock %}