{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Articles</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<body class="">
<nav class="navbar navbar-expand-lg navbar-dark  bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <img src="{% static 'images/ace (2).png' %}" width="30" height="30" alt="">
        <a class="navbar-brand" href="{% url 'articles:article_list' %}"> Develop</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-fill" href="{% url 'articles:create' %}">New Article</a>
            </li>
        </ul>
        {% if user.is_authenticated %}

            <form class="form-inline my-2 my-lg-0" action="{% url 'accounts:logout' %}" method="post">
                {% csrf_token %}
                <span class="btn btn-lg btn-outline-light">Hello, {{ request.user.username }} </span>
                <p></p>
                <button class="btn-dark btn-lg btn-outline-light" type="submit">Logout</button>

            </form>
        {% else %}
            {% csrf_token %}
            <ul>
                <li>
                    <a class="text-success" href="{% url 'accounts:login' %}">Login</a>
                </li>
                <li>
                    <a class="text-danger" href="{% url 'accounts:sing_up' %}">Sign up</a>
                </li>
            </ul>

        {% endif %}
    </div>
</nav>

{% block content %}

{% endblock %}

</div>
</body>
</html>